.col-lg-12{
    text-align: center;

}


.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}

hr{
    color: #95aa75;
    opacity: 1;
    border-width: thick;
}

left-content{
    padding-left: 0.5em;

}
.skills{
    padding-left: 2em;
    color: black;
    padding-bottom: 2em;
}
.academic{
    color: black;
    padding-bottom: 2em;
    width: 100%;
}

.experience{
    color:black;
    width: 100%;
}

.right-content{





}
.projects{
    color: black;
    width: 100%;


}

.awards{
    color: black;
}

h3{
    color: #3B94D9;
}