.col-lg-12{
    text-align: center;

}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr{
    color: #95aa75;
    opacity: 1;
    border-width: thick;
}

.content{
    padding-left: 2em;
}